<%- model_class = Bracket -%>
<div class="page-header">
  <h1><%=t '.title', :default => Bracket %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:seeds) %></th>
      <th><%= model_class.human_attribute_name(:results) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @brackets.each do |bracket| %>
      <tr>
        <td><%= bracket.id %></td>
        <td><%= bracket.seeds %></td>
        <td><%= bracket.results %></td>
        <td><%=l bracket.created_at, format: :long %></td>
        <td>
          <%= link_to bracket_path(bracket), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to bracket_path(bracket), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bracket_path,
            :class => 'btn btn-primary' %>
